@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.ff-poppins{
    font-family: 'Poppins', sans-serif;
}
@media (max-width:576px) {
    .carousel-inner img{
        width: 335px;
        height: 262px;
    }
}
@media (min-width:577px) {
    .thumb{
        height: 200px !important;
        width: 200px !important;
    }
}